<style>
    *{
        font-family: "맑은 고딕", Arial;
        line-height: 150%;
    }
    *:link{
        color: black;
    }
    *:visited{
        color: black;
    }
    header{
        margin-top: 50px;
        text-align: center;
    }
    header h1{
        display: inline;
        font-size: 50px;
        letter-spacing: 2pt;
    }
    header i{
        color: rgb(255, 217, 0);
        font-size: 20pt;
    }
    nav{
        height: 50px;
    }
    ul{
        list-style-type: none;
    }
    nav ul {
        border-bottom: 2px solid rgb(178, 110, 241);
        padding: 15px 20px;
        text-align: center;
        color: black;
    }
    nav ul li{
        display: inline;
        padding: 15px 5%;
        letter-spacing: 5px;
    }
    nav ul li:hover{
        background-color: rgb(240, 224, 255);
    }
    .photo > img {
        padding-top: 50px;
        display: block;
        margin: 0 auto;
        width: 85%;
    }
    .right {
        margin-top: 30px;
    }
    body{
        margin: 0 auto;
        width: 100vw;
    }
    header, footer{
        height: 100px;
        font-size: 1.4em;
    }
    .content{
        display: flex;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .photo{
        flex: 4;
    }
    aside{
        flex: 1;
        padding-top: 60px;
        padding-right: 20px;
    }
    .login > form > i{
        font-size: 16pt;
        padding-bottom: 10px;
    }
    fieldset{
        padding: 15px;
    }
    a {
        text-decoration: none;
    }
    .bookmark{
        color: black;
    }
    .bookmarkname{
        font-size: 16pt;
        padding-bottom: 10px;
    }
    .youtube > iframe{
        padding-top: 10px;
    }
    .gallery{
        margin-left: 10vw;
        margin-right: 10vw;
        background-color: rgb(253, 249, 243);
    }
    .galleryname{
        font-family: "Bookman Old Style";
        font-size: 16pt;
        color:rgb(128, 100, 58);
        text-align: center;
        letter-spacing: 3pt;
        border-top: 5px solid rgb(255, 239, 212);
        border-bottom: 5px solid rgb(255, 239, 212);
        background-color: white;
    }
    footer{
        margin-top: 50px;
        padding-top: 15px;
        border-top: 1px solid darkgray;
        text-align: center;
        font-size: 10pt;
        line-height: 15pt;
    }
    .sns{
        font-size: 16pt;
    }
    </style>